<div class="sign-in-main">
    <nav class="navbar navbar-default">
        <div class="container bar">
            <a href="#" class="navbar-brand" style="width:224px">
      <img style="width: 146px;height: 34px"src="<%= asset_path( 'readium_logo.png' ) %>">
    </a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/users/new" class="splash">
                        <button class="follow-button log-in">Sign Up</button>
                    </a>
                </li>
                <li>
                    <a href="#" class="splash">
                        <button data-toggle="modal" data-target="#myModal" class="follow-button log-in">Sign In</button>
                    </a>
                </li>
                <li>
                    <a href="#" class="splash trial">
                        <button data-toggle="modal" data-target="#myModal" class="follow-button log-in guest-log-in">Guest Login</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="demo-container">
        <div class="desktop-holder">
            <img class="desktop-image" src="http://d3po2y9ogyd5ah.cloudfront.net/images/site/sales/index-desktop-browser.png" alt="">
            <div id="carousel-features" class="carousel slide">
                <div class="carousel-inner" role="listbox">
                </div>
            </div>
        </div>
    </div>
    <div class="descriptions">
        <p>Tell your story</p>
        <p>Follow your favorite authors to see their latest stories</p>
        <p>Follow tags to find quickly the stories you care about</p>
        <p>It's easy to search Readium to find users, stories, and tags</p>
        <p>Bookmark stories to save for later</p>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="log-in-box">
        <h1 class="sign-in">Readium</h1>
        <form action="<%= session_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div id="login-fields">
                <input type="text" class="cred-fields username" name="user[username]" value="<%= @user.username %>" placeholder="Username" style="margin-bottom: 4px;">
                <br>
                <input type="password" name="user[password]" class="cred-fields password" placeholder="Password">
                <br>
                <br>
                <div class="log-in-buttons">
                    <button class="follow-button log-in" type="submit" id="enter" style="margin-right: 7px;">Sign In</button>
                </div>
            </div>
        </form>
        <% if flash[:errors] %>
            <div class="errors">
                <% flash[:errors].each do |error| %>
                    <%= error %>
                        <% end  %>
            </div>
        <%  end %>
    </div>
</div>
