<a href="#users/<%= story.get('author_id') %>">
  <div class="author-info">
    <img class="avatar" src="/assets/loren_avatar.jpg"/>
    <div class="author-time">
    <p><%= story.get('username') %></p>
      <p class="timeago" title="<%= story.get('created_at') %>"></p>
    </div>
  </div>
</a>
<a href="#stories/<%= story.id %>">
  <% if (story.escape('home_url')) { %>
  <img style="width:100%;" src="<%= story.get('home_url') %>"/>
  <% }  %>
  <div class="story-title-home">
    <%= story.get('title') %>
  </div>
  <br>
  <div class="story-preview-text">
    <%= story.get('body') %>
  </div>
</a>