<a href="#users/<%= story.get('author_id') %>">
  <div class="author-info">
    <img class="avatar" src="/assets/loren_avatar.jpg"/>
    <div class="author-time">
      <div class="author-name"><%= story.get('username') %></div>
      <div class="timeago" title="<%= story.get('created_at') %>"></div>
    </div>
  </div>
</a>
<a href="#stories/<%= story.id %>">
  <% if (story.escape('home_url')) { %>
  <img style="width:100%;" src="<%= story.get('home_url') %>"/>
  <% }  %>
  <div class="story-title-home">
    <%= story.get('title') %>
  </div>
  <div class="story-preview-text">
    <%= story.get('body') %>
  </div>
</a>
<div class="preview-footer">
  <a class="continue" href="#stories/<%= story.id %>">Continue reading </a>
  &middot
  <div class="bookmark">
    <span class="icon icon--readingList u-noUserSelect"></span>
    <span class="min-read">5 min read</span>
  </div>
</div>