<!DOCTYPE html>
<html>
<head>
  <title>Readium</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      sources: ['local'],
      theme: 'minimal',
      thumbnail_transformation: {width:580, height: 175, crop: 'crop'}
    };
  </script>

</head>
<body>

<%= yield %>

</body>
</html>


