<div class="tag-frame">
  <div class= "tag-interior">
    <div class= "tag-header">
      <div class="featured-header">FEATURED TAGS</div>
      <div class="featured-tags">
        <% tags.each(function(tag) { %>
        <a href="#tags/<%= tag.id %>"><%= tag.escape('name') %></a>
        <% }) %>
      </div>
      <br>
    </div>
    <div class= "tag-header">
      <div class="featured-header">TAGS YOU FOLLOW</div>
      <div class="featured-tags">
        <% currentUser.each(function(tag) { %>
        <a href="#tags/<%= tag.id %>"><%= tag.escape('name') %></a>
        <% }) %>
      </div>
      <br>
    </div>
    <div class= "tag-header">
      <div class="featured-header">TOP STORIES ON READIUM</div>
      <div class="featured-tags">
      <% var i = 1  %>
        <% stories.each(function(story) { %>
        <div class="story-sidebar-unit">
        <div class="circle-container">
          <div class="circle"><%= i %></div>
        </div>
        <div class="sidebar-title-author-group">
          <a class="story-sidebar-title" href="#stories/<%= story.id %>"><%= story.escape('title') %></a>
          <a class="story-sidebar-author" href="#users/<%= story.escape('author_id') %>"><%= story.escape('username') %></a>
        </div>
        </div>
        <% i++ %> 
      <% }) %>
      </div>
      <br>
    </div>
  </div>
</div>
<script type="text/javascript">
$(window).scroll(function() {
var scrollPos = $('body').scrollTop()
if (scrollPos > 68) {
$('.tag-feed').addClass('locked')
} else {
$('.tag-feed').removeClass('locked')

}
  
})
</script>